@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Crimson+Text:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

.title{
  background-color: #74C69D;
}
.head{
  display: flex;
  justify-content: space-between;
}
.start{
  display: flex;
  gap: 20px;
  justify-self: start;
  margin-left: 70px;
}
.menu-button{
  background-color: #74C69D;
  color: #FFFFFF;
  border: none;
  padding: 15px;
  font-size: 16px;
  cursor: pointer;
  padding-right: 70px;
  
}
.menu-icon{
  display: block;
  width: 28px;
  height: 2px;
  background-color: #FFFFFF;
  position: relative;
}
.menu-icon::before,
.menu-icon::after {
  content: "";
  display: block;
  width: 28px;
  height: 2px;
  position: absolute;
  background-color: #FFFFFF;

}
.menu-icon::before{
  top: -6px;
}
.menu-icon::after{
  top: 6px;
}
.menu{
  display: none;
}
/*.menu{
  padding-right: 40px;
  margin-top: -50px;
  justify-content: flex-end;
  justify-self: flex-end;
}*/
.star{
  color: white;
  font-size: 30px;
  font-weight: 500;
  font-family: "Work Sans", serif;
}
.people{
  align-self: center;
  justify-self: center;
  margin-top: 40px;
}
.paragraph{
  text-align: left;
  margin-left: 50px;
}
.first{
  color: #FFFFFF;
  font-family: "Work Sans", serif;
  font-size: 16px;
  font-weight: 700;
  margin-left: 20px;
}
.lorem{
  font-family: "Crimson Text", serif;
  color: #FFFFFF;
  font-size: 28px;
  font-weight: 700;
  margin-left: 20px;
}
.ipsum{
  color: #FFFFFF;
  font-family: "Work Sans", serif;
  font-size: 15px;
  font-weight: 400;
  width: 320px;
  margin-left: 20px;
  opacity: 0.75;
  line-height: 20px;
}
.text{
  color: black;
  font-family: "Work Sans", serif;
  font-weight: 400;
  font-size: 20px;
  text-decoration: none;
}
.one{
  width: 170px;
  height: 48px;
  border: none;
  border-radius: 6px;
  background-color: #FFFFFF;
  margin-left: 20px;
  margin-bottom: 40px;
}
.partners{
  text-align: center;
}
.second{
  text-align: center;
}
.part{
  font-family: "Work Sans", serif;
  font-size: 16px;
  font-weight: 700;
  text-align: center;
  color: #74C69D;
  letter-spacing: 5px;
  margin-top: 25px;
  margin-bottom: -10px;
}
.bold{
  font-family: "Crimson Text", serif;
  font-weight: 700;
  font-size: 24px;
  color: #000000;
}
.dolor{
  font-size: 20px;
  font-weight: 400;
  font-family: "Work Sans", serif;
  margin-left: 20px;
  width: 280px;
  text-align: center;
  justify-self: center;
  margin-top: -10px;
}
.elicit{
  display: block;
  margin-top: 10px;
}
.nemo{
  display: none;
}
.google{
  margin-top: 40px;
}
.micro{
  margin-top: 30px;
}
.logos{
  display: flex;
  gap: 20px;
}
.bnb{
  margin-bottom: 40px;
  margin-top: 40px;
}
#face{
  margin-top: 10px;
  margin-bottom: 10px;
}
#spot{
  margin-top: 40px;
  margin-bottom: 40px;
}
.learn{
  width: 170px;
  height: 48px;
  padding: 10px;
  border-radius: 5px;
  border: none;
  background-color: #212529;
}
.lean{
  text-decoration: none;
  color: #FFFFFF;
  font-family: "Work Sans", serif;
  font-weight: 400;
  font-size: 20px;
}
.group{
  text-align: center;
  margin-top: 33px;
}
.net{
  margin-left: 75px;
  font-weight: 700;
  font-family: "Crimson Text", serif;
  font-size: 24px;
}
.nets{
  padding: 10px;
  width: 330px;
  margin-left: 65px;
  font-family: "Work Sans", serif;
  font-weight: 400;
  font-size: 15px;
  color: #21252977;
  margin-top: -12px;
}
.more{
  background-color: #212529;
  width: 170px;
  height: 48px;
  border-radius: 5px;
  border: none;
  margin-left: 75px;
}
.bi{
  color: #FFFFFF;
  font-family: "Work Sans", serif;
  font-weight: 400;
  font-size: 20px;
}
.talents{
  margin-top: 45px;
  text-align: center;
  margin-bottom: 50px;
}
.our{
  font-size: 24px;
  font-weight: 700;
  font-family: "Crimson Text", serif;
}
.designer{
  text-align: center;
}
.team{
  border: 2px solid #ddd;
  border: none;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(29, 24, 24, 0.4);
  width: 279px;
  height: 299px;
  margin-bottom: 40px;
  padding-top: 20px;
  align-self: center;
  justify-self: center;
}
.border{
  margin-left: -90px;
}
.names{
  font-weight: 700;
  font-size: 24px;
  font-family: "Crimson Text", serif;
  margin-left: 40px;
}
.titles{
  font-size: 15px;
  font-weight: 400;
  font-family: "Work Sans", serif;
  color: #212529;
  margin-left: 40px;
}
.last{
  text-align: center;
  margin-top: 50px;
  margin-bottom: 40px;
}
.learns{
  width: 170px;
  height: 48px;
  padding: 10px;
  border-radius: 5px;
  border: none;
  background-color: #212529;
}
.mores{
  text-decoration: none;
  color: #FFFFFF;
  font-family: "Work Sans", serif;
  font-weight: 400;
  font-size: 20px;
}
.view{
  display: none;
}
.footer{
  background-color: #74C69D;
  text-align: center;
}
.icons{
  display: flex;
  gap: 20px;
  align-content: center;
  justify-content: center;
  margin: 10px;
  padding-top: 35px;
}
.copy{
  font-size: 20px;
  font-weight: 400;
  font-family: "Work Sans", serif;
  color: #FFFFFF;
  padding-bottom: 35px;
}


/*Desktop View*/
@media screen and (min-width: 1024px) {
  .title{
    padding: 15px 50px 50px 30px;
  }
  .menu{
    display: inline;
    padding-right: 40px;
    
  }
  .menu-button{
    display: none;
  }
  .list{
    display: flex;
    gap: 30px;
    list-style: none;
    margin-top: 30px;
  }
  .lists{
    font-size: 20px;
    font-weight: 400;
    font-family: "Work Sans", serif;
    text-decoration: none;
    color: white;
  }
  .start{
    margin-top: -20px;
  }
  .starts{
    display: flex;
    flex-direction: row-reverse;
    gap: 620px;
  }
  .star{
    font-size: 40px;
  }
  .bulb{
    width: 400px;
    height: 360px;
    padding-right: 35px;
    margin-top: -30px;
    
  }
  .first{
    font-size: 16px;
    margin-top: 40px;
  }
  .lorem{
    font-size: 40px;
    width: 416px;
    height: 80px;
    margin-top: 10px;
  }
  .ipsum{
    font-size: 15px;
    width: 416px;
    height: 76px;
    padding-bottom: 20px;
  }
  .one{
    margin-top: -10px;
  }
  .paragraph{
    width: 150px;
    height: 40px;
  }
  .dolor{
    display: inline;
  }
  .partners{
    margin-top: 60px;
  }
  .flex{
    display: flex;
    gap: 70px;
    align-content: center;
    justify-content: center;
  }
  #microsoft{
    padding-top: 10px;
  }
  #face{
    padding-top: 30px;
  }
  .tele{
    display: flex;
    align-content: center;
    justify-content: center;
    gap: 160px;
    margin-top: 60px;
  }
  .teles{
    display: flex;
    gap: 160px;
    flex-direction: row-reverse;
    align-content: center;
    justify-content: center;
    margin-top: 60px;
  }
  .group{
    width: 500px;
    height: 400px;
  }
  .sit{
    margin-top: 125px;
  }
  .talents{
    margin-top: 120px;
  }
  .elicit{
    display: none;
  }
  .nemo{
    display: block;
    font-size: 20px;
    font-weight: 400;
    font-family: "Work Sans", serif;
  }
  .design{
    display: inline;
  }
  .view{
    display: block;
    text-decoration: none;
    color: #FFFFFF;
    font-family: "Work Sans", serif;
    font-weight: 400;
    font-size: 20px;
  }
  .mores{
    display: none;
  }
  .developer{
    display: flex;
    gap: 20px;
    align-content: center;
    justify-content: center;
    
  } 
  .icons{
    align-content: start;
    justify-content: start;
    margin-left: 105px;
    margin-bottom: -40px;
  }
  .copy{
    text-align: right;
    margin-right: 105px;
  }
}