@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Crimson+Text:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

.title{
  background-color: #74C69D;
}
.head{
  
}
.start{
  display: flex;
  gap: 20px;
  justify-self: start;
  margin-left: 70px;
}
.menu{
  padding-right: 40px;
  margin-top: -50px;
  justify-content: flex-end;
  justify-self: flex-end;
  
}
.star{
  color: white;
  font-size: 30px;
  font-weight: 500;
  font-family: "Work Sans", serif;

}
.people{
  align-self: center;
  justify-self: center;
  margin-top: 40px;
}
.paragraph{
  text-align: left;
  margin-left: 50px;
}
.first{
  color: #FFFFFF;
  font-family: "Work Sans", serif;
  font-size: 16px;
  font-weight: 700;
  margin-left: 20px;
}
.lorem{
  font-family: "Crimson Text", serif;
  color: #FFFFFF;
  font-size: 28px;
  font-weight: 700;
  margin-left: 20px;
}
.ipsum{
  color: #FFFFFF;
  font-family: "Work Sans", serif;
  font-size: 15px;
  font-weight: 400;
  width: 320px;
  margin-left: 20px;
  opacity: 0.75;
  line-height: 20px;

}
.text{
  color: black;
  font-family: "Work Sans", serif;
  font-weight: 400;
  font-size: 20px;
  text-decoration: none;
}
.one{
  width: 170px;
  height: 48px;
  border: none;
  border-radius: 6px;
  color: #FFFFFF;
  margin-left: 20px;
  margin-bottom: 40px;
}
.partners{
  text-align: center;
}
.second{
  text-align: center;
}
.part{
  font-family: "Work Sans", serif;
  font-size: 16px;
  font-weight: 700;
  text-align: center;
  color: #74C69D;
  letter-spacing: 5px;
  margin-top: 25px;
  margin-bottom: -10px;
}
.bold{
  font-family: "Crimson Text", serif;
  font-weight: 700;
  font-size: 24px;
  color: #000000;
}
.dolor{
  font-size: 20px;
  font-weight: 400;
  font-family: "Work Sans", serif;
  margin-left: 20px;
  width: 280px;
  text-align: center;
  justify-self: center;
  margin-top: -10px;
}
.elicit{
  display: block;
  margin-top: 10px;
}
.google{
  
  
}
.logos{
  display: flex;
  gap: 20px;
}
.micro{
  
}
.bnb{
  margin-bottom: 30px;
}
#spot{
  margin-top: 30px;
  margin-bottom: 20px;
}
.socials{
  margin-top: 30px;
  margin-bottom: 20px;
}
.learn{
  width: 170px;
  height: 48px;
  padding: 10px;
  border-radius: 5px;
  border: none;
  background-color: #000000;
}
.lean{
  text-decoration: none;
  color: #FFFFFF;
  font-family: "Work Sans", serif;
  font-weight: 400;
  font-size: 20px;
}
.group{
  text-align: center;
  margin-top: 40px;
}
.net{
  margin-left: 75px;
  font-weight: 700;
  font-family: "Crimson Text", serif;
  font-size: 24px;
}
.nets{
  padding: 10px;
  width: 330px;
  margin-left: 65px;
  font-family: "Work Sans", serif;
  font-weight: 400;
  font-size: 15px;
  color: #21252977;
  color: Color/Dark/50;
}
.more{
  background-color: #000000;
  width: 170px;
  height: 48px;
  border-radius: 5px;
  border: none;
  margin-left: 75px;
}
.bi{
  color: #FFFFFF;
  font-family: "Work Sans", serif;
  font-weight: 400;
  font-size: 20px;
}
.features{
  text-align: center;
  
}
.our{
  font-size: 24px;
  font-weight: 700;
  font-family: "Crimson Text", serif;
}
.team{
  border: 2px solid #ddd;
  border: none;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
  width: 279px;
  height: 299px;
  margin-bottom: 30px;
  padding-top: 20px;
  align-self: center;
  justify-self: center;
  

}
.border{
  margin-left: -90px;
}
.names{
  font-weight: 700;
  font-size: 24px;
  font-family: "Crimson Text", serif;
  margin-left: 10px;
}
.titles{
  font-size: 15px;
  font-weight: 400;
  font-family: "Work Sans", serif;
  color: #212529;
  margin-left: -60px;
}
.footer{
  background-color: #74C69D;
  text-align: center;
}
.icons{
  display: flex;
  gap: 20px;
  align-content: center;
  justify-content: center;
  margin: 10px;
  padding-top: 35px;
}
.copy{
  font-size: 20px;
  font-weight: 400;
  font-family: "Work Sans", serif;
  color: #FFFFFF;
  padding-bottom: 35px;
}
