@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Crimson+Text:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');


.title{
    background-color: #74C69D;
}
.head{
    
}
.start{
    display: flex;
    gap: 20px;
    justify-self: start;
    margin-left: 70px;
}
.menu{
    padding-right: 40px;
    margin-top: -50px;
    justify-content: flex-end;
    justify-self: flex-end;
    
}
.star{
    color: white;
    font-size: 30px;
    font-weight: 500;
    font-family: "Work Sans", serif;

}
.people{
    align-self: center;
    justify-self: center;
    margin-top: 40px;
}
.paragraph{
    text-align: left;
    margin-left: 50px;
}
.first{
    color: #FFFFFF;
    font-family: "Work Sans", serif;
    font-size: 16px;
    font-weight: 700;
    margin-left: 20px;
}
.lorem{
    font-family: "Crimson Text", serif;
    color: #FFFFFF;
    font-size: 28px;
    font-weight: 700;
    margin-left: 20px;
}
.ipsum{
    color: #FFFFFF;
    font-family: "Work Sans", serif;
    font-size: 15px;
    font-weight: 400;
    width: 320px;
    margin-left: 20px;
    opacity: 0.75;
    line-height: 20px;

}
.text{
    color: black;
    font-family: "Work Sans", serif;
    font-weight: 400;
    font-size: 20px;
    text-decoration: none;
}
.one{
    width: 170px;
    height: 48px;
    border: none;
    border-radius: 6px;
    background-color: #FFFFFF;
    margin-left: 20px;
    margin-bottom: 40px;
}
